<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <hr>
  <div class="field">
    <%= f.cktext_area :text, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "full"} %>
  </div>
  <br>
  

  <div class="actions">
    <%= f.submit "Добавить", :class=> "btn btn-primary" %>
    <%= link_to  "Назад", subcategories_path, :class=> "pull-right btn btn-danger" %>
  </div>
<% end %>
