%table.table.table-bordered
  %tr
    %th Название
    %th Ссылка
    %th
  .alert.alert-info
    %h4 Список ссылок
  - @subcategory.uploads.each do |link|
    %tr
      %td= link.title
      %td= link.link
      %td= link_to 'Удалить', link, method: :delete, data: { confirm: 'Are you sure?' }
= form_for([@subcategory, @subcategory.uploads.build]) do |f|
  %div
    %p Название
    = f.text_field :title
  %div
    %p Ссылка
    = f.text_field :link
  %p
    = f.submit "Добавить ссылку", :class => "btn btn-primary"