<%= javascript_include_tag "application.js" %>
<%= javascript_include_tag "ckeditor/init.js" %>
<%= javascript_include_tag "ckeditor/styles.js" %>
<%= javascript_include_tag "ckeditor/ckeditor.js" %>
<%= javascript_include_tag "ckeditor/config.js" %>


<%= render "layouts/panel" %>
<div class="container">
  <div class="span11">
    <div class="bs-docs-example">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#subcategory" data-toggle="tab">Подкатегория</a></li>
          <li><a href="#pages" data-toggle="tab">Страницы</a></li>
          <li><a href="#links" data-toggle="tab">Ссылки</a></li>
        </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="subcategory">
          <%= render 'form' %>
        </div>

        <div class="tab-pane fade" id="pages">
          <%= render "page_form" %>
        </div>

        <div class="tab-pane fade" id="links">
          <%= render "links_form" %>
        </div>
      </div>
      
    </div>
  </div>
</div>