= render "layouts/panel"
.container
  .span11
    .alert.alert-info
      %h2 Список подкатегорий
    %hr
      %table.table.table-bordered
        %tr
          %th Название
          %th
          %th
          %th
        - @subcategorys.each do |subcategory|
          %tr
            %td= subcategory.title
            %td= link_to 'Показать', subcategory
            %td= link_to 'Редактировать', edit_subcategory_path(subcategory)
            %td= link_to 'Удалить', subcategory, method: :delete, data: { confirm: 'Are you sure?' }
      %br/
= javascript_include_tag "application.js"