= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :title,:placeholder => "Заголовок новости"
  %hr
    .field
      = f.text_field :theme,:placeholder => "Тема"
    %hr
      .field
        = f.file_field :photo
      %hr
        .field
          = f.cktext_area :text, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "full"}
        %br
          .actions
            = f.submit "Добавить", :class=> "btn btn-primary"
            = link_to  "Назад", posts_path, :class=> "pull-right btn btn-danger"