= javascript_include_tag "application.js"
= javascript_include_tag "ckeditor/init.js"
= javascript_include_tag "ckeditor/styles.js"
= javascript_include_tag "ckeditor/ckeditor.js"
= javascript_include_tag "ckeditor/config.js"
= render "layouts/panel"
.container
  .span12
    .alert.alert-info
      %h2 Добавление новости
    %hr
      = render 'form'