= form_for(@category) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .field
    %p Название
    = f.text_field :title
  %hr
    .field
      = f.cktext_area :text, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "full"}
    %br
      .actions
        = f.submit "Добавить", :class=> "btn btn-primary"
        = link_to  "Назад", categories_path, :class=> "pull-right btn btn-danger"