%table.table.table-bordered
  %tr
    %th Название
    %th
    %th
    %th
  .alert.alert-info
    %h4 Список страниц
  - @category.pages.each do |page|
    %tr
      %td= page.title
      %td= link_to 'Показать', page
      %td= link_to 'Редактировать', edit_page_path(page)
      %td= link_to 'Удалить', page, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= form_for ([@category,@category.pages.build]),  :url => {:controller => :pages, :action => "create_category_page", :id => @category.id} do |f|
  = f.text_field :title
  %p
    = f.submit "Добавить страницу", :class => "btn btn-primary"