<% @posts.each do |post| %>

<div id="post-69" class="row post-entry">
  <div class='span1'>
    <div class="post-userphoto">
      <%= image_tag post.photo.url , :class => "member-photo", :height => "52", :width=> "52" %>
    </div>
  </div>
  <div class='span11'>
    <div class='post-text'>
      <div class="post-title">
      <a href="post.html" title="link to, view, or share the full post"><%= raw post.title %></a></div>
    <%= raw post.theme %><%= link_to ' Подробнее', post %>
    </div>
           <span class='date pull-right' title='2013-04-20 10:31:47'><%= raw post.created_at.to_s(:ru_datetime) %></span> 
    <hr>
  </div>
</div>

<% end %>