<!DOCTYPE html>
<html>
<head>
  <title>Turclub</title>
  <%= stylesheet_link_tag    "bootswatch.css" %>
  <%= stylesheet_link_tag    "bootstrap.css" %>
  <%= stylesheet_link_tag    "style.css" %>
  <%= stylesheet_link_tag    "popup.css" %>
  <%= csrf_meta_tag %>
  <style type="text/css">


     body {
      background-image: url(<%= asset_path("cream_pixels.png")%>)
    }
  </style>

</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

<%= yield %>

    <!-- Скрипты, не трогать
================================================== -->
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= javascript_include_tag "bootswatch.js" %>


</body>
</html>
